<div class="shopping">
    <h4>Lista zakupów</h4>
    <div class="shopping__size">
        <input type="range" id="duration" name="duration" 
        min="2" max="6" value="2" step="2"
        oninput="this.nextElementSibling.value = this.value"/>
        <output>2</output>
        <label for="duration">People</label>
    </div>
    <div class="shopping_list">
        {% for ingredinet in ingredient_list %}
        <div class="shopping_list__ingredient">
            <input type="checkbox" id="ingredient_{{forloop.counter0}}"/>
            <label for="ingredient_{{forloop.counter0}}"> {{ingredinet.qty}} </label>
            <label for="ingredient_{{forloop.counter0}}"> {{ingredinet.unit.symbol}}</label>
            <label for="ingredient_{{forloop.counter0}}"> {{ingredinet.ingredient}}</label>
        </div>
        {% endfor %}
    </div>
</div>