{% extends 'blog/base_side.html' %}

{% block content_side %}
<h1>Blog</h1>
<p>
    Jeśli obawiasz się elaboratów o jedzeniu - to nie tutaj. Wiedza zorganizowana jest w "Żarciopedię", a Blog ma ułatwić stałym bywalcom odkrywanie nowinek na stronie.
</p>
<p>
    Wpisy podzielono na cztery kategorie (możesz odfiltrować te dla Ciebie nieistotne):
</p>
<ul>
    <li>Jakie nowe informacje doszły: przepisy, produkty...</li>
    <li>Jakie ulepszenia na stronie pomogą Ci poznawać ten świat</li>
    <li>No dobra, mogą zdażyć się artykuły</li>
</ul>

<section>
    <div class="blogTOC">
        {% for blog_post in page_obj.object_list %}
            {% include "blog/fragments/blog_node.html" with blog_post=blog_post%}
        {% empty %}
        <div>Żaden post nie spełnia wartunków filtrowania, spróbuj ustawić inne filtry lub je zresetuj <button>Resetuj filtry</button></div>
        {% endfor %}
    </div>
    {% include "blog/fragments/pagination.html" with page_obj=page_obj%}
</section>

{% endblock  %}


{% block sidePanel %}
<div class="sidePanel__group">
    <h3 hidden>Główne filtry</h3>
    <input type="date" id="dateFrom"/>
    <input type="date" id="dateTo"/>
</div>
<div class="sidePanel__group">
    <h3 hidden>Tagi</h3>
    <div style="display:flex; flex-direction:column;">
        <div>
            <input type="checkbox" id="tagname1" checked><label for="tagname1">Nowe wpisy</label>
        </div>
        <div>
            <input type="checkbox" id="tagname2" checked><label for="tagname2">Ulepszenia</label>
        </div>
        <div>
            <input type="checkbox" id="tagname3" checked><label for="tagname3">Artykuły</label>
        </div>
    </div>
</div>
{% endblock  %}