{% extends 'blog/blog.html' %}

{% block content_side %}
<h1>Blog Article</h1>
<div>Type</div>
<span itemprop="author">Imię</span> | <time itemprop="datePublished" dateTime="2022-04-25">25 kwi 2022</time>
<div>
    <p itemprop="abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu orci in nisl maximus auctor in sit amet neque. Integer sit amet gravida sem, id vestibulum arcu. Nulla mollis dolor nec ultricies egestas.</p>
</div>
<section itemprop="">
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu orci in nisl maximus auctor in sit amet neque. Integer sit amet gravida sem, id vestibulum arcu. Nulla mollis dolor nec ultricies egestas. Donec non mollis ante. Fusce nec dui in tellus sollicitudin viverra sit amet nec mi. Integer et quam leo. Maecenas porttitor lectus dui, a convallis neque egestas vel. Curabitur id eros nec ante pulvinar consequat. Donec convallis eget turpis et tincidunt. Donec in fermentum sem, non suscipit diam. Mauris vulputate pulvinar elit, vel bibendum turpis lobortis nec. In hac habitasse platea dictumst. Quisque ullamcorper fringilla lectus, sed congue lorem efficitur eu. Praesent non tempor augue. Fusce turpis augue, imperdiet at egestas eu, hendrerit at mauris. Curabitur placerat a diam a ornare.
        </p><p>
            Fusce bibendum tellus quis neque congue, ac eleifend est porta. Morbi euismod dui ac ligula eleifend, at ultrices nibh mattis. Vivamus convallis quam et ante mollis ullamcorper. Phasellus blandit ligula magna. Nunc euismod leo nisl, vitae ullamcorper eros egestas non. Sed varius sem sed dolor commodo, euismod faucibus enim condimentum. Nunc ut tortor non risus semper mollis. Maecenas porttitor, tellus at elementum rhoncus, neque lacus ultrices arcu, eu mattis odio arcu sed lacus. Nulla cursus et tellus a accumsan. Nullam malesuada cursus arcu vel dignissim. Cras malesuada blandit euismod. Quisque tristique eros a leo bibendum dignissim. Nulla bibendum scelerisque quam in semper. Nullam pulvinar elit non lorem imperdiet, a tristique leo blandit. Cras ut urna eu diam blandit aliquam sit amet a arcu.
        </p>
    </div>
<section>


{% endblock  %}