{% extends 'blog/blog.html' %}

{% block content_side %}
<a href="{% url 'blog' %}"><-- Wróć do listy</a>
<h1>{{blog_post.title}}</h1>
<div>Type</div>
<span itemprop="author">{{blog_post.author}}</span> | <time itemprop="datePublished" dateTime="{{blog_post.publish_date|date:'Y-m-d'}}">{{blog_post.publish_date|date:'j E Y'}}</time>
<div>
    <p itemprop="abstract">{{blog_post.short_content}}</p>
</div>
<section itemprop="text">
    <div>
        {{blog_post.content|safe}}
    </div>
<section>


{% endblock  %}